html {
  font-family: sans-serif;
}

/* Your CSS below here */
body {
  
  --base-color: cyan;
}

div {
  
  width: 300px;
  height: 200px;

  
  margin: 0 auto;

  
  text-align: center;
  font-size: 1.125rem;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  


  background-color: var(--base-color);


  color: #fff;
  text-shadow: 1px 1px 2px #000;

  
  border-radius: 10px;

  
  border: 2px solid darkcyan; 


  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 100%);


  box-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.2), 
    inset 2px 2px 4px rgba(255, 255, 255, 0.2), 
    inset -2px -2px 4px rgba(0, 0, 0, 0.2); 
}